{% extends 'base.html' %}
{% block content %}
{% if parent %}
<h2><a href="../index.html">{{ parent }}</a> / {{ dirname }}</h2>
{% else %}
<h2>{{ dirname }}</h2>
{% endif %}
{% if subdirs %}
<h3>Directories</h3>
<ul>
{% for subdir in subdirs %}
    <li><a href="{{ subdir }}/index.html">{{ subdir }}</a></li>    
{% endfor %}
</ul>
{% endif %}
{% if files %}
<h3>Files</h3>
<ul>
{% for file in files %}
    <li><a href="{{ file }}">{{ file }}</a></li>    
{% endfor %}
</ul>
{% endif %}
{% endblock %}